@model ChurchFinanceSite.Models.ContactEmail
@{
    ViewBag.Title = "Index";
}

<h2>Contact Us</h2>
@using (Html.BeginForm("ContactUs", "ContactEmail"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class="text-danger"})
    <div class="form-group">
        @Html.LabelFor(c => c.FirstName, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.LastName, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Email, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Email, new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(c => c.Comment, new { @class = "form-control", @cols = 80, @rows = 10 })
        </div>       
    </div>

    <div class="form-group">
        <button class="btn-primary" type="submit">Send Email</button>
    </div>
}


