@model ChurchFinanceSite.Models.Donation
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donation Detail</h2>
@Model.Giver.FirstName @Model.Giver.Middle @Model.Giver.LastName <br />
@Model.Amount <br />
@Model.DonationDate <br />
@Model.DonationType.Name<br />

@Html.ActionLink("Edit", "Edit", new { id = Model.ID })|
@Html.ActionLink("Delete", "Delete", new { id = Model.ID })

<br />
@Html.ActionLink("Back to List", "Index")

