@model ChurchFinanceSite.ViewModels.DonationFormViewModel
@{
    ViewBag.Title = "DonationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Donation</h2>
@using(@Html.BeginForm("Create", "Donation"))
{
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Donation.GiverID)
                @Html.DropDownListFor(c => c.Donation.GiverID, new SelectList(Model.Giver, "ID", "FullName"), "", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Donation.DonationTypeID)
                @Html.DropDownListFor(c => c.Donation.DonationTypeID, new SelectList(Model.DonationType, "ID", "Name"), "", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Donation.Amount)
                @Html.TextBoxFor(c => c.Donation.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Donation.DonationDate)
                @Html.TextBoxFor(c => c.Donation.DonationDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
}

