@model ChurchFinanceSite.ViewModels.DonationFormViewModel
@{
    ViewBag.Title = "DonationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Donation</h2>
@using(@Html.BeginForm("DonationForm", "Donation"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger"})
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.SelectedGiverId)
                @Html.DropDownListFor(c => c.SelectedGiverId, Model.Givers, "", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.SelectedDonationTypeId)
                @Html.DropDownListFor(c => c.SelectedDonationTypeId, Model.DonationTypes, "", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Donation.Amount)
                @Html.TextBoxFor(c => c.Donation.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
}
<br />
@Html.ActionLink("Back to List", "Index")

