@model ChurchFinanceSite.ViewModels.EditDonation
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <div class="col-lg-12">
            @Html.Label(Model.Giver.FullName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            @Html.LabelFor(model => model.Donation.Amount)
            @Html.EditorFor(model => model.Donation.Amount, new { htmlAttributes = new { @class = "form-control" } })
        </div>         
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            @Html.LabelFor(c => c.SelectedDonationTypeId)
            @Html.DropDownListFor(c => c.SelectedDonationTypeId, Model.SelectListDonationTypes, "", new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(x => x.Donation.ID)
    @Html.HiddenFor(x => x.Donation.GiverID)
    <div class="form-group">
        <button type="submit" class="btn-default">Save</button>
    </div>
}
<br />
@Html.ActionLink("Back to List", "Index")