@model IEnumerable<ChurchFinanceSite.Models.Donation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donations</h2>
<div>
    @Html.ActionLink("Create New", "Create")
</div>
@if (!Model.Any())
{
    <div>
        <text>No donation yet.</text>
    </div>
}
else
{
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Donation Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in Model)
        {
            <tr>
                <td>@donation.Giver.FirstName @donation.Giver.Middle @donation.Giver.LastName</td>
                <td>@donation.Amount</td>
                <td>@donation.DonationDate</td>
                <td>@donation.DonationType.Name</td>
                <td>@Html.ActionLink("Detail", "Detail", new { id = donation.ID }, null)</td>
            </tr>
        }
    </tbody>
</table> 
}
